.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
 
  
  span{
    background: -webkit-linear-gradient(#dfd009,#df9409, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .ion-margin-vertical{
    width: 90%;
    text-transform: capitalize;
  }
  @media (min-width: 560px) {
    .container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .ion-margin-vertical{
      width: 450px;
    }
    
  }