/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Righteous&family=Roboto:wght@100;300;400;500&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-family: 'Righteous', cursive;
}

.content{
    background: var(--ion-color-light);
    color: var(--ion-color-light-contrast);
    height: 100%;
}

ion-item{
    --background: transparent;
}

.validators{
    font-size: 14px;
    color: var(--ion-color-danger);
    padding-bottom: 15px;
    text-align: center;
}
ion-button{
    text-transform: capitalize;
    z-index: 90;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.buttons-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 99;
}
svg{
    height: 80%;
    position: absolute;
    bottom: 0;
    z-index: 0;
}
img{
    height: 150px;
    width: auto;
    margin-top: -10px;
}
.container h1{
  font-weight: bolder;
  float: left;
  padding-left: 5px;
}
  span{
    background: -webkit-linear-gradient(#dfd009,#df9409, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .container p{
    font-size: 20px;
    float: left;
    padding-left: 5px;
    text-shadow: 1px 1px 2px black;
  }
  .ion-margin-vertical{
    width: 90%;
  }
  @media (min-width: 560px) {
    .container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .ion-margin-vertical{
      width: 450px;
    }
    img{
      height: 150px;
  }
    
  }