<app-header color="light" backButton="/home" title="Dashboard" ngClass="ion-text-center"></app-header>



  <ion-content>
    <div class="container content">
      <img class="dashboard" src="../../assets/beer.png"/>
      <div class="buttons-container">
        <h1>Bienvenido <span>{{nameTitle}}</span></h1>
        <ion-button (click)="logout()" color="dark" class="ion-margin-vertical"  type="submit" shape="round">
          Logut
          <ion-icon slot="end" name="person-remove-outline"></ion-icon>
        </ion-button>
        
      </div>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffd700" fill-opacity="1" d="M0,288L48,272C96,256,192,224,288,197.3C384,171,480,149,576,165.3C672,181,768,235,864,250.7C960,267,1056,245,1152,250.7C1248,256,1344,288,1392,304L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
    </div>
  </ion-content>